* {
  margin: 0;
}
h3 {
  color: #ffff !important;
}
.ant-dropdown-menu {
  background-color: #051421 !important;
}

.ant-input {
  background-color: transparent !important;
  color: #fff !important;
}
.ant-dropdown {
  color: #fff !important;
}

.ant-modal-content {
  background-image: linear-gradient(to right, #051421, #042727);
  color: #fff;
}

.ant-modal-close-x {
  color: #fff;
}

.ant-input-group-addon {
  background-color: transparent !important;
  border: none !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
